body {
	margin: 0;
	padding: 0;
}

div {
	/*border: 1px solid red;*/
}

.wrapper {
	width: 940px;
	margin: 0 auto;
}

.wrapper2 {
	width: 924px;
	margin: 0 auto;
}


/* HEADER */
#header {
	height: 147px;
	background-color: #274f75;
}

#logo {
	float: left;
	width: 72%;
}

#logo h1 {
	font-size: 64px;
	color: white;
	margin: 0;
	line-height: 147px;

}

#adresa {
	float: right;
	width: 23%;
	margin-top: 30px;
}

#adresa p {
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: white;
	opacity: 0.6;
	text-align: right;
}

/* NAVIGACIJA */
#nav {
	height: 38px;
	background-color: #82bc0e;
	border-bottom: 1px solid #c80808;
	background-image: url(../images/bg_nav.jpg);
	background-repeat: repeat-x;
}

#nav ul {
	margin: 0;
	padding: 0;

}

#nav ul li {
	list-style-type: none;
	float: left;
	width: 14%;
	padding: 0 1px;
	text-align: center;
}

#nav ul li a {
	text-decoration: none;	
	display: block;
	font-family: Arial, sans-serif;
	font-size: 15px;
	color: #28485e;
	line-height: 38px;
}

#nav ul li a:hover {
	font-weight: bold;
	background-color: #fff;
	border-bottom: 6px solid #c80808;
	background-image: url(../images/bg_nav_hover.jpg);
	background-repeat: repeat-x;

}

/* HERO */
#content {
	height: 1145px;
	background-image:url(../images/content_bg.jpg);
	background-repeat: repeat-x;
}

.outer {
	background-image:url(../images/hero_bg.jpg);
	background-repeat: no-repeat;
	width: 1322px;
	height: 100%;
	margin: 0 auto;

}
.hero {
	height: 355px;
	padding-top: 100px;
}

.hero h1 {
	font-size: 58px;
	font-weight: bold;
	color: #295071;
	margin: 0;
	width: 450px;
}

.hero h2 {
	font-size: 25px;
	font-family: Arial, sans-serif;
	color: #295071;
	font-weight: normal;
	width: 360px;

}


/* CONTENT */
.content {
	height: 690px;
	background-color: #fff;
	background-image: url(../images/main_bg.jpg);
	background-repeat: no-repeat;
	padding-top:35px;
	padding-left: 30px;

}
.content h1 {
	font-size: 28px;
	font-weight: normal;
	margin: 0;
	margin-bottom: 25px;
	font-family: Arial, sans-serif;
	color: #3f3f3f;
}

.content h2 {
	font-family: Arial, sans-serif;
	font-size: 20px;
	font-weight: normal;
	color: #3f3f3f;

}
.content h1 span, .content h2 span {
	font-weight: bold;
	color: #c80808;
}
 
.content #main img {
	border: 1px solid #c80808;
	padding: 5px;
	float: left;
	margin-right: 20px;

}

#main p {
	font-family: Arial, sans-serif;
	color: #3d3d3d;
	font-size: 14px;
	margin-top: 0;
	text-align: justify;
	letter-spacing: 1px;
	line-height: 170%;
/*	padding-right: 25px;*/
	padding-bottom: 10px;
}

#main {
	width: 64%;
	float: left;
	padding-right: 25px;
}

.col_left, .col_right {
	width: 47%;
	float: left;
}

.col_left {
	margin-right: 25px;
}
#sidebar {
	width: 30%;
	float: right;
	font-family: Arial, sans-serif;
	color: #3d3d3d;
	padding-right: 25px;
}

.datum {
	width: 28px;
	height:28px;
	background-color: #274f75;
	color: #fff;

	font-size: 18px;
	text-align: right;
	padding: 5px;
	line-height: 80%;
	float: left;
}

#sidebar h3 {
	margin:0;
	padding: 0;
	font-weight: normal;
	font-size: 18px;
	float: left;
	color: #274f75;
	margin-left: 5px;

}

#sidebar h1 {
	margin-bottom: 10px;
}

#sidebar p {
	clear: both;
	font-size: 14px;
	font-family: Arial, sans-serif;
	line-height: 170%;
	letter-spacing: 1px;
	text-align: justify;
	padding-top: 20px;
}

.vest {
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #3f3f3f;
}
/* FOOTER */
#footer {
	height: 108px;
	background-color: #274f75;
	border-top: 1px solid #c80808;
}

#footer_levo {
	width: 49%;
	float: left;
}

#footer_desno {
	width: 49%;
	float: right;
}